<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868742610477-egsetcg9q66j1krqhppvtmbgfpm6rb5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868742610477-egsetcg9q66j1krqhppvtmbgfpm6rb5i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868742610477-132bd2qa3uv2iun6ebhujok36qkj0r8j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9hYQnEqQZ02So0nkndVZUTeX5vPTrJY4</string>
	<key>GCM_SENDER_ID</key>
	<string>868742610477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationTracking</string>
	<key>PROJECT_ID</key>
	<string>groupchat-74767</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchat-74767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868742610477:ios:4426ad164906cb8eed42a4</string>
	<key>DATABASE_URL</key>
	<string>https://groupchat-74767-default-rtdb.firebaseio.com</string>
</dict>
</plist>